@import url(https://fonts.google.com/specimen/Outfit);


* {
    margin: 0;
    padding: 0;

}

body{
    font-family: "Outfit", sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

img{
    width: 285px;
    height: 285px;
    width: 100%;
    border-radius: 25px;
    max-height: 18rem;
    max-width: 18rem;
}

.container{
    background-color: hsl(0, 0%, 100%);
    box-shadow: -4px -1px 67px -21px rgba(0,0,0,0.35);
    -webkit-box-shadow: -4px -1px 67px -21px rgba(0,0,0,0.35);
    -moz-box-shadow: -4px -1px 67px -21px rgba(0,0,0,0.35);
    border-radius: 25px;
    max-width: 17rem;
    height: 28rem;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

h1{
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

p{
    font-size: 15px;
    text-align: center;
    margin: 20px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}